<!DOCTYPE html>
<html class="dark">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<script>
			tailwind.config = {
darkMode: 'class'
}
		</script>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class=" dark:bg-gray-800 dark:text-white" >
		{% block body %}{% endblock %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
	</body>
</html>
